######################################################################
# git上传忽略配置，需要使用自行添加
# 2020年12月09日15:09:43   --lks
######################################################################

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### wechatMiniApp ###
project.config.json

### MAC ###
.DS_Store

